{% extends "base.html.twig" %}

{% block titre %} Page listant les livres {% endblock %}
{% block contenu %}
    <table class="table text-center monTableau" id="tableauLivres">
        <thead>
            <tr class="table-dark">
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Nombre de pages</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
            <tr>
                <td><a href="/livres/{{ livre._id }}"> {{livre.nom}} </a></td>
                <td> {{livre.auteur}} </td>
                <td> {{livre.nombreDePages}} </td>
                <td><button type="button" class="btn btn-warning m-2">Modifier</button></td>
                <td><button type="button" class="btn btn-danger m-2">Supprimer</button></td>
            </tr>
            {% endfor %}
            <!-- <tr>
                <td><a href="/livres/La France du 19ème">La France du 19ème</a></td>
                <td>Albert Patrick</td>
                <td>500</td>
                <td><button type="button" class="btn btn-warning m-2">Modifier</button></td>
                <td><button type="button" class="btn btn-danger m-2">Supprimer</button></td>
            </tr>
            <tr>
                <td><a href="/livres/Le monde des animaux">Le monde des animaux</a></td>
                <td>Marc Merlin</td>
                <td>250</td>
                <td><button type="button" class="btn btn-warning m-2">Modifier</button></td>
                <td><button type="button" class="btn btn-danger m-2">Supprimer</button></td>
            </tr>
            <tr>
                <td><a href="/livres/Le virus d'Asie">Le virus d'Asie</a></td>
                <td>Tya Milo</td>
                <td>120</td>
                <td><button type="button" class="btn btn-warning m-2">Modifier</button></td>
                <td><button type="button" class="btn btn-danger m-2">Supprimer</button></td>
            </tr> -->
        </tbody>
    </table>
    <a href="#" class="btn btn-success d-block">Ajouter</a>
{% endblock %}