{% extends "base.html.twig" %}

{% block titre %} Auteur : {{auteur.nom}} {% endblock %}
{% block contenu %}
    <div> Ici le contenu de la page auteur 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum cumque ea ipsum id quod enim commodi qui quia. Illum in suscipit repudiandae pariatur asperiores ipsam distinctio nisi assumenda esse? Dolor?
    </div>
{% endblock %}